version: "3.8"

services:
  # Discovery service
  discovery:
    build: ../../discovery-server
    ports:
      - "8761:8761"
    image: discovery-server

  # Offre emploi service
  offre_emploi-ms:
    build: ../../Offre_emploi-MS
    environment:
      - eureka.client.serviceUrl.defaultZone=http://discovery:8761/eureka/
    ports:
      - "8880:8880"
    image: offre_emploi-service

  # Conges service
  conges-service:
    build: ../../Conges-MS
    environment:
      SPRING_APPLICATION_JSON: |
        {
          "spring.datasource.url=jdbc:mysql://mysqldb:3306/projet?createDatabaseIfNotExist=true,
          "spring.datasource.username": "root",
          "spring.datasource.password": null,
          "spring.jpa.properties.hibernate.dialect": "org.hibernate.dialect.MySQL5InnoDBDialect",
          "spring.jpa.hibernate.ddl-auto": "update",
          "eureka.client.serviceUrl.defaultZone": "http://discovery:8761/eureka/"
        }
    ports:
      - "8806:8806"

 # Contact service
contact-ms:
  build: ../../Contact-MS
  environment:
    - spring.datasource.url=jdbc:mysql://mysql:3306/projet?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC
    - SPRING_DATASOURCE_USERNAME=root
    - SPRING_DATASOURCE_PASSWORD=
    - eureka.client.serviceUrl.defaultZone=http://discovery:8761/eureka/
  ports:
    - "8805:8805"
  image: contact-service


  # MySQL service
  mysql:
    image: mysql:8.0.23
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_DATABASE=projet
    ports:
      - "3307:3306"
    volumes:
      - db:/var/lib/mysql

  # Projet service
  projet-ms:
    build: ../../Projet_MS
    environment:
      - spring.datasource.url=jdbc:mysql://mysql:3306/projet?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
      - eureka.client.serviceUrl.defaultZone=http://discovery:8761/eureka/
    ports:
      - "8801:8801"
    image: projet-service

  # Gateway service
  gateway:
    build: ../../zuul-server
    environment:
      - eureka.client.serviceUrl.defaultZone=http://discovery:8761/eureka/
    ports:
      - "8762:8762"
    image: gateway-server

  # MongoDB service
  mongos:
    image: mongo:latest
    ports:
      - "27017:27017"

volumes:
  db:
